---
- name: Configure Static Routes on CSR1 for Management Access
  hosts: CSR1
  gather_facts: no
  
  vars:
    # Management network - where your Ansible VM is
    ansible_vm_network: "172.16.105.0"
    ansible_vm_netmask: "255.255.255.0"
    
    # Static routes to reach other networks from CSR1's management interface
    # These routes tell CSR1 how to reach its own data plane networks from Gi0/4
    static_routes:
      # Route to EIGRP network (11.11.11.0/24) - assuming R1 is on this network
      - destination: "11.11.11.0 255.255.255.0"
        interface: "GigabitEthernet0/0"
        
      # Route to OSPF Area 0 networks
      - destination: "1.2.3.0 255.255.255.0"
        interface: "GigabitEthernet0/1"
        
      - destination: "192.168.1.0 255.255.255.0"
        interface: "GigabitEthernet0/3"
        
      # Route to OSPF Area 51 networks
      - destination: "21.21.21.0 255.255.255.0"
        interface: "GigabitEthernet0/2"
  
  tasks:
    - name: Display current routing table
      cisco.ios.ios_command:
        commands:
          - show ip route
      register: current_routes
      
    - name: Show current routes
      debug:
        msg: "{{ current_routes.stdout_lines[0] }}"
   
    - name: Configure static routes for management access
      cisco.ios.ios_config:
        lines:
          - ip route {{ item.destination }} {{ item.interface }}
        save_when: modified
      loop: "{{ static_routes }}"
    
    - name: Verify static routes were added
      cisco.ios.ios_command:
        commands:
          - show ip route static
      register: new_routes
    
    - name: Display static routes
      debug:
        var: new_routes.stdout_lines
